@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root{
    --text: #ede7f9;
    --background: #0f071c;
    --primary: #6330bb;
    --secondary: #0d0618;
    --accent: #6330bb;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}

.primary__btn{
    background-color: var(--primary);
}

.primary__text{
    color: var(--primary);
}