{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
<div class="mt-24 sm:mt-0 pb-6 sm:pb-8 lg:pb-12" style="color: var(--text) !important;">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <section class="flex flex-col items-center">
        <div class="flex max-w-xl flex-col items-center pb-16 pt-8 text-center lg:pb-48 lg:pt-32">
          <p class="mb-4 font-semibold primary__text md:mb-6 md:text-lg xl:text-xl">Shhh...</p>
  
          <h1 class="mb-8 text-4xl font-bold sm:text-5xl md:mb-12 md:text-6xl">The night's here.</h1>
  
          <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
            <a href="/register" class="inline-block rounded-lg primary__btn px-8 py-3 text-center text-sm font-semibold text-white outline-none md:text-base">Start now</a>
  
            <a href="#" class="inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none md:text-base">Continue</a>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock content %}